/*Nigga, is you gay?*/
@charset "UTF-8";

@font-face {
	font-family: VGA;
	src: url(Perfect_DOS_VGA_437.ttf);
}

html {
	height: 100%;

	}
body {
	background-color: #000;
	height: 100%;
	width: 100%;
	margin: 0;
	color: #00cc00;
	font-size: 100%;
	}

.container {
	width: auto;
	height: auto;
	min-height: 200px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.middle-finger {
	text-align: center;
	font-size: 25rem;
	color: #00cc00;
	position: absolute;
	top: 50%;
	left: 50%;
	animation: bounce 0.5s infinite alternate;
}

.quote {
	font-size: 3rem;
	font-family: VGA, "Courier New", Courier, monospace;
	padding: 20px;
	text-align: center;
	}
